<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head th:replace="layout/layout :: head">
<body>
<div th:replace="layout/layout :: navbar"></div>
<div th:replace="layout/layout :: alerts"></div>

<h1 class="text text-primary text-center pt-3" th:text="${titulo}"></h1>
<div class="container">
	<div class="col-md-4 offset-md-4">
		<form th:action="@{/guardar}" method="POST" th:object="${cliente}">
		  <div class="form-group">
		    <label for="username">Usuario</label>
		    <input type="text" class="form-control" th:field="*{username}" name="username" placeholder="Username" autofocus/>
		 	<small class="text text-danger" th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></small>	
		  </div>
		  <div class="form-group">
		    <label for="email">Email</label>
		    <input type="text" class="form-control" th:field="*{email}" name="email"  placeholder="Email"/>
		    <small class="text text-danger" th:if="${#fields.hasErrors('email')}"  th:errors="*{email}"></small>
		  </div>
		   <div class="form-group">
		    <label for="fecha_alta">Fecha Alta</label>
		    <input type="date" class="form-control" th:field="*{fechaAlta}" name="fechaAlta"  placeholder="Fecha alta"/>
		    <small class="text text-danger" th:if="${#fields.hasErrors('fechaAlta')}"  th:errors="*{fechaAlta}"></small>
		  </div>
		  <input type="submit" class="btn btn-primary" value="Ingresar"/>
		</form>
	</div>
</div>
<div th:replace="layout/layout :: scripts"></div><br><br>
<div th:replace="layout/layout :: roles"></div>
</body>
</html>