<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head th:replace="layout/layout :: head">
<body>
<div th:replace="layout/layout :: navbar"></div>
<div th:replace="layout/layout :: alerts"></div>

<div class="container pt-3">
	<div class="col-md-4 offset-md-4">
		<form th:action="@{/login}" method="POST">
		  <div class="form-group">
		    <label for="formGroupExampleInput">Username</label>
		    <input type="text" class="form-control" name="username" id="formGroupExampleInput" placeholder="Username" autofocus>
		  </div>
		  <div class="form-group">
		    <label for="formGroupExampleInput2">Password</label>
		    <input type="password" class="form-control" name="password" id="password" placeholder="Password">
		  </div>
		  <input type="submit" class="btn btn-primary" value="Ingresar"/>
		</form>
	</div>
</div>
<div th:replace="layout/layout :: scripts"></div>
</body>
</html>